<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nsysu.ee.mmlab.playergl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nsysu.ee.mmlab.playergl.UserInterface"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nsysu.ee.mmlab.playergl.Fullscreen_display"
            android:label="@string/title_activity_fullscreen_display"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="nsysu.ee.mmlab.playergl.SettingPage"
            android:label="@string/title_activity_setting_page"
            android:parentActivityName="nsysu.ee.mmlab.playergl.@string/title_activity_setting_page" >
        </activity>
        <activity
            android:name="nsysu.ee.mmlab.playergl.BacklitVsColorTest"
            android:label="@string/title_activity_backlit_vs_color_test"
            android:parentActivityName="nsysu.ee.mmlab.playergl.@string/title_activity_setting_page"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="nsysu.ee.mmlab.playergl.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="nsysu.ee.mmlab.playergl.UserInterface" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nsysu.ee.mmlab.playergl.UserInterface" />
        </activity>
        <activity
            android:name="nsysu.ee.mmlab.playergl.SettingPage2"
            android:label="@string/title_activity_setting_page2"
            android:parentActivityName="nsysu.ee.mmlab.playergl.UserInterface" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nsysu.ee.mmlab.playergl.UserInterface" />
        </activity>
    </application>

</manifest>
